html, body{width: 100%; height: 100%; margin: 0;}
.wrap{position: relative; width: 100%; height: 100%; background-color: #333333;}
.calc{position: absolute; top: 50%; left: 50%; display: flex; flex-direction: column; align-items: center; width: 400px; height: 500px; margin: -250px -200px; padding: 20px; background-color: #999; border-radius: 20px; box-shadow: 20px 10px 20px 20px rgba(0, 0, 0, .2);}
.screen-area{display: flex; align-items: center; width: 100%; height: 150px;}
.screen{width: 100%; height: 100px; padding: 10px 30px; background-color: #fff; border-radius: 10px;}
button{width: 95px; height: 40px; border: none; background-color: rgba(222, 222, 222, 1); font-size: 16px; cursor: pointer; transition: ease 0.2s;}
button.num{background-color: #333333; color: #fff;}
button:hover{background-color: rgba(94, 94, 94, 1);}
button:active{box-shadow: inset 3px 3px 3px 3px rgb(49, 49, 49);}
button sup{font-size: 10px;}